@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $stretch: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-stretch: $stretch;
		font-display: swap;
		src: url('#{$file-path}.woff') format('woff');
	}
}