.footer {
	background-color: $blue;
	&__inner {
		display: flex;
		color: $white;
		&-col {
			flex: 1;
			padding: 62px 75px 115px;
			&:first-child {
				padding-top: 0;
				padding-bottom: 0;
			}
			&:not(:last-child) {
				border-right: 1px solid rgba($white, .16);
			}
		}
	}
	@include r($laptop) {
		&__inner-col {
			padding: 60px 35px;
		}
	}
	@include r($tablet) {
		&__inner {
			margin: 0 -32px;
		}
	}
	@include r($tablet) {
		&__inner {
			display: none;
		}
	}
}

.footer-logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-family: $font-rubik;
	line-height: 1;
	font-size: 19px;
	a {
		display: flex;
		align-items: center;
		color: $white;
		&:hover {
			color: $white;
		}
	}
	&__text {
		margin-left: 14px;
		letter-spacing: .7px;
	}
}

.footer-address {
	font-family: $font-rubik;
	color: rgba($white, .7);
	font-size: 15px;
	line-height: 1.6;
	margin: 0;
	b {
		display: block;
		color: $white;
		font-weight: 400;
		line-height: 1.26;
		margin-bottom: 8px;
	}
	@include r($tablet) {
		br {
			display: none;
		}
	}
}