.testimonials {
	&__inner {
		position: relative;
	}
	.section-title {
		margin: 0;
		position: absolute;
		z-index: 1;
		top: 56px;
		left: 50px;
	}
	@include r($tablet) {
		.section-title {
			display: none;
		}
	}
}

.testimonials-slider {
	&__card {
		display: flex;
		background-color: #F3F3F3;
		&-content {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 40px;
		}
		&-thumbnail {
			flex: 0 0 312px;
			height: 411px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #F3F3F3;
				transform-origin: right;
				transition: .95s transform;
				transition-delay: .4s;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-inner {
			max-width: 515px;
		}
		&-quote {
			font-size: 24px;
			line-height: 1.3;
			margin: 0;
			letter-spacing: .25px;
			transform: translateY(25px);
			opacity: 0;
			transition: .65s transform, .65s opacity;
			transition-delay: .35s;
			&:before {
				content: '“';
				display: block;
			}
		}
		&-status {
			display: block;
			font-family: $font-rubik;
			font-size: 16px;
			line-height: 1;
			margin-top: 37px;
			transform: translateY(25px);
			opacity: 0;
			transition: .65s transform, .65s opacity;
			transition-delay: .5s;
		}
		&-name {
			display: block;
			font-family: $font-rubik;
			font-size: 16px;
			line-height: 1;
			color: $blue;
			margin-top: 5px;
			transform: translateY(25px);
			opacity: 0;
			transition: .65s transform, .65s opacity;
			transition-delay: .5s;
		}
	}
	.slick-slide.slick-current {
		.testimonials-slider__card {
			&-quote, &-status, &-name {
				opacity: 1;
				transform: translateY(0);
			}
			&-thumbnail:after {
				transform: scaleX(0);
			}
		}
	}
	.slick-dots {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 1;
		list-style-type: none;
		display: flex;
		width: 154px;
		position: absolute;
		bottom: 24px;
		right: 122px;
		button {
			display: none;
		}
		li {
			flex: 1;
			background-color: rgba($white, .6);
			height: 1px;
			cursor: pointer;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				z-index: 1;
				left: 0;
				width: 100%;
				height: 16px;
				top: -8px;
			}
			&:not(:last-child) {
				margin-right: 15px;
			}
			&.slick-active {
				background-color: $white;
			}
		}
	}
	@include r($laptop) {
		&__card-quote {
			font-size: 18px;
		}
	}
	@include r($tablet) {
		margin: 0 -32px;
		&__card-content {
			padding: 45px;
		}
	}
	@include r($tablet) {
		&__card {
			flex-direction: column-reverse;
			align-items: stretch;
			&-thumbnail {
				flex: unset;
				width: 100%;
				height: 494px;

			}
			&-content {
				padding: 35px 35px 55px;
				flex: unset;
			}
			&-quote {
				font-size: 24px;
			}
		}
		.slick-dots {
			right: auto;
			bottom: auto;
			left: 32px;
			top: 465px;
		}
	}
}