.two-photos {
	padding: 22px 0 38px;
	.wrap {
		max-width: 1103px;
	}
	&__inner {
		margin-left: 50px;
		position: relative;
	}
	&__large {
		max-width: calc(100% - 215px);
		padding-left: 45px;
		margin-left: auto;
		img {
			width: 100%;
			height: auto;
			min-height: 338px;
			object-fit: cover;
		}
	}
	&__small {
		position: absolute;
		top: 0;
		left: 0;
		width: 215px;
		height: 237px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__excerpt {
		position: absolute;
		top: 275px;
		left: 0;
		width: 215px;
		font-size: 11px;
		line-height: 1.6;
		p {
			margin: 0;
		}
	}
	&--shortcode {
		padding: 29px 0 100px;
		margin-right: -145px;
		.two-photos {
			&__inner {
				margin-left: 0;
			}
		}
	}
	@include r($desktop-average) {
		&--shortcode {
			margin-right: -177px;
		}
	}
	@include r($laptop) {
		&--shortcode {
			margin-right: -72px;
		}
	}
	@include r($tablet) {
		&__inner {
			margin-left: 25px;
		}
		&--shortcode {
			margin-right: -32px;
		}
	}
	@include r($phablet) {
		&__small {
			width: 113px;
			height: 140px;
		}
		&__large {
			max-width: calc(100% - 113px);
			padding-left: 7px;
		}
		&__excerpt {
			position: static;
			margin-left: 120px;
			margin-top: 25px;
			width: auto;
		}
		&--shortcode {
			padding-bottom: 30px;
		}
	}
	@include r($phone) {
		&__large {
			max-width: calc(100% - 81px);
			margin-right: -32px;
		}
	}
}